* {
    border: none;
    border-radius: 0;
    font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0.7);
    color: #eeeeee;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 15px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background: #228049;
}

#workspaces button.urgent {
    background-color: #941c1c;
}

#window {
}

#mode {
    background-color: #c55800;
    padding: 0 15px;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 15px;
    margin: 0 5px;
}

#clock {
  font-weight: bold;
}

#battery {
}

#battery.charging {
    background-color: #228049;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #941c1c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
  background-color: #941c1c;
}

#custom-media {
}

.custom-spotify {
}

.custom-vlc {
}

#temperature {
}

#temperature.critical {
    background: #941c1c;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}
