* {
  border: none;
  font-family: Droid Sans Mono, Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: #fabd2f;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 15px;
  background: transparent;
  color: #fabd2f;
}

#workspaces button.focused {
  background-color: #d79921;
  color: #3c3836;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #fb4934;
  color: #3c3836;
}

#window {
  margin-left: 10px;
}

#mode {
  background-color: #d65d0e;
  color: #3c3836;
  padding: 0 15px;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
  padding: 0 15px;
  margin: 0;
}

#clock {
  font-weight: bold;
}

#battery {
  color: #8ec07c;
}

#battery.warning:not(.charging) {
  background-color: #d65d0e;
  color: #3c3836;
}
#battery.charging {
  background-color: #689d6a;
  color: #3c3836;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #fb4934;
  color: #3c3836;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: #fe8019;
}

#memory {
  color: #fe8019;
}

#backlight {
  color: #8ec07c;
}

#network {
  color: #a89984;
}

#network.disconnected {
  color: #fb4934;
}

#pulseaudio {
  color: #8ec07c;
}

#pulseaudio.muted {
  background-color: #689d6a;
  color: #3c3836;
}

#custom-media {
}

#temperature {
  color: #fe8019;
}

#temperature.critical {
  background-color: #fb4934;
  color: #3c3836;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
  color: #a89984;
}

#idle_inhibitor.activated {
  color: #a89984;
}
